helloworld-exp/src/main/mule/helloworld-exp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<flow name="hello-worldFlow" doc:id="1e5fa426-e782-4cc0-a046-af2e70cbb7af" >
		<http:listener doc:name="Listener" doc:id="9ed5753e-05a3-4906-83f6-215fb9850ffa" config-ref="HTTP_Listener_config_TLS_Contex" path="/api/hello"/>
		<flow-ref doc:name="hello-world-main" doc:id="777d4c6f-111a-4e81-8693-0b248a122f64" name="hello-world-main"/>
	</flow>
	<flow name="hello-world-main" doc:id="70949451-6d10-4968-babc-0e988e2fe0d1" >
		<ee:transform doc:name="Transform Message" doc:id="615d29d8-1e6d-4a64-a2a6-435ba016dd91" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ++ 
{
	env: "dev",
	app: "Hello-World"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="195bb68d-761b-4e32-939c-fd44b1084937" message="#[payload]"/>
		<flow-ref doc:name="Flow Reference" doc:id="c9ecbb5a-bf3f-4dee-a41c-28f377bf7e73" name="call-helloworld-prcFlow"/>
	</flow>
</mule>
