mule-maven-plugin/src/main/mule/mule-maven-plugin.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e3a95716-62e2-493c-bcfa-f3226c270fe0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-maven-pluginFlow" doc:id="26972596-e861-4e1f-9b01-cc4e19a4618b" >
		<http:listener doc:name="Listener" doc:id="f715a985-bb3e-4de1-938d-25d282cd9e10" config-ref="HTTP_Listener_config" path="/poc/maven"/>
		<ee:transform doc:name="Transform Message" doc:id="0ad1d3a9-2116-4dbe-9192-a799eca10fe3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import java!java::lang::System
output application/json
---
{
	name: 'Gary Liu',
	app: app.name,
	prop: System::getProperties()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b5458a8e-e35e-45b8-a9bd-3974c88bac3a" message='#[correlationId] "\n" #[payload]]' category="mule-maven-plugiin"/>
	</flow>
</mule>
